body
{
    color: rgb(25, 128, 21);
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(13, 13, 116);
    box-shadow: 0px 2px 20px 0px rgba(158, 34, 34, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}

#footer{
    background-color: #777;
    color: white;
    text-align: center;
}